
.hero {
  padding-top: 171px;
  padding-bottom: 300px;
  &__leni {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    padding-bottom: 25px;
  }
  &__title {
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    max-width: 555px;
    width: 100%;
    padding-bottom: 20px;
  }
  &__text {
    max-width: 453px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
  &__btn {
    padding: 8px 32px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 100px;
    color: #fff;
    background: transparent;
    transition: all 2s ease;
    width: 173px;
    margin: 0 auto;
    &:hover {
      transition: all 2s ease;
      border: 1px solid red;
      background-color: #fff;
      color: red;
    }
  }
  &__img {
    left: 100px;
  }
}
@media screen and (max-width: 992px) {
    .wrapper{
        @include BG(url(./../imges/takoyshashhlik.png),no-repeat,cover,center)
        }
        
}
@media screen and (max-width: 450px){
  .wrapper{
    width: 428px;
    @include BG(url(https://jamesandeverett.com/wp-content/uploads/2016/02/russian_shashlik_1.jpg),no-repeat,cover,center)
    }
}
