.img {
  &__inner {
    height: 763px;
    max-width: 1920px;
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 500px) {
  .img {
    &__inner {
      height: 763px;
      width: 428px;

     
    }
  }
}
