.news {
  padding: 120px 0;
  &__row {
    padding-bottom: 50px;
  }
  &__item {
    max-width: 410px;
    width: 100%;
    border: 1px solid rgba(36, 36, 36, 0.1);
    border-radius: 14px;
  }
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    padding-bottom: 25px;
    color: #242424;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: #bb2339;
    padding-bottom: 60px;
  }
  &__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border: none;
    color: #bb2339;
    background: transparent;
  }
  &__wrapper-btn {
    padding-bottom: 30px;
  }
  &__button {
    width: 149px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    padding: 8px 32px;
    border: 1px solid #bb2339;
    border-radius: 100px;
    color: #bb2339;
    transition: all 2s ease ;
    &:hover{
      background-color: red;
      color: #fff;
      transition: all 2s ease ;
    }
  }
}
@media screen and (max-width: 500px) {
  .news {
    &__img {
      width: 90%;
    }
  }
}
