.bground {
  background-color: #f8f8f8;
  padding-bottom: 120px;
}
.popular {
  padding-top: 120px;
  &__enner {
    padding-bottom: 60px;
    &--title {
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      color: #bb2339;
    }
  }
  &__img {
    &:hover {
      transform: scale(1.22);
    }
  }
  .row {
    padding: 0 50px;
    padding-bottom: 50px;
    &__cart {
      width: 270px;
      margin: 0 auto;
    }
    &__leni {
      display: block;
      text-align: center;
      padding-top: 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #bb2339;
    }
  }
}
